.icon-chevron {
  background-image: url(/src/assets/icon/chevron.svg);
}

.icon-upload-image {
  background-image: url(/src/assets/icon/upload-image-icon.svg);
}

.icon-x-mark {
  background-image: url(/src/assets/icon/x-mark.svg);
}

.icon-right-arrow {
  background-image: url(/src/assets/icon/right-arrow.svg);
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
