.icon-chevron {
  background-image: url(/src/assets/icon/chevron.svg);
}

.icon-upload-image {
  background-image: url(/src/assets/icon/upload-image-icon.svg);
}

.icon-x-mark {
  background-image: url(/src/assets/icon/x-mark.svg);
}

.icon-right-arrow {
  background-image: url(/src/assets/icon/right-arrow.svg);
}

.icon-empty-box {
  background-image: url(/src/assets/icon/box.svg);
}

.icon-sm {
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-2xl {
  width: 120px;
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.novus-logo {
  background-image: url(/src/assets/logo/novus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rect-novus-logo {
  background-image: url(/src/assets/logo/rect-novus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rect-transparent-logo {
  background-image: url(/src/assets/logo/novus-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.novus-flower-logo {
  background-image: url(/src/assets/logo/novus-flower.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.novus-no-border-logo {
  background-image: url(/src/assets/logo/novus-no-border.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
